dist/
html/
vendor/
src/config/ConfiguracaoModPEN.php
src/config/supervisor.ini
**/.tmp/
**/evidencias/
**/tests_funcional_falsos_positivos_temp/

.vscode

cobertura.xml
.env
*.pem
*.cache
*.lock
*.log
*.out
*.swp
