# Ignorar pasta de distribuição de arquivos do módulo
dist/
html/
tests/funcional/vendor/
config/*.pem
config/ConfiguracaoModPEN.php
config/supervisor.ini

.vscode

**/.env
**/*.cache
**/*.lock
**/*.log
**/*.out
**/*.swp
