<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
  bootstrap="bootstrap.php" 
  backupGlobals="true" 
  colors="true" 
  verbose="true"
  cacheResult="true"
  executionOrder="no-depends"
  >
  
  <php>
    <const name="PHPUNIT_HOST" value="127.0.0.1"/>
    <const name="PHPUNIT_PORT" value="4444"/>  
    <const name="PHPUNIT_BROWSER" value="chrome"/>
    <const name="PHPUNIT_TESTS_URL" value="http://localhost/sei"/>
    <const name="PEN_ENDERECO_WEBSERVICE" value="https://homolog.api.processoeletronico.gov.br/interoperabilidade/soap/v2/?wsdl"/>

    <!-- Chaves de configurações gerais do teste do Barramento de Serviços do PEN -->
    <const name="PEN_WAIT_TIMEOUT" value="360000" /> 
    <const name="PEN_WAIT_TIMEOUT_ARQUIVOS_GRANDES" value="7200000" /> 
    <const name="PEN_SCRIPT_MONITORAMENTO_ORG1" value="sudo docker exec -it org1-http php /opt/sei/scripts/mod-pen/MonitoramentoTarefasPEN.php;"/> 
    <const name="PEN_SCRIPT_MONITORAMENTO_ORG2" value="sudo docker exec -it org2-http php /opt/sei/scripts/mod-pen/MonitoramentoTarefasPEN.php;"/> 


    <!-- Chaves de configuração dos diferentes ambientes envolvidos no teste do Barramento de Serviços do PEN -->
    <!-- CONFIGURAÇÕES DE TESTE ÓRGÃO 1 -->
    <const name="CONTEXTO_ORGAO_A" value="CONTEXTO_ORGAO_A" /> 
    <const name="CONTEXTO_ORGAO_A_URL" value="http://org1-http/sei"/>
    <const name="CONTEXTO_ORGAO_A_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_A_NUMERO_SEI" value="951" />
    <const name="CONTEXTO_ORGAO_A_ID_REP_ESTRUTURAS" value="1" />
    <const name="CONTEXTO_ORGAO_A_REP_ESTRUTURAS" value="Poder Executivo Federal" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_A_ID_ESTRUTURA" value="32357" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_HIERARQUIA" value="BNDES / ME" />
    <const name="CONTEXTO_ORGAO_A_NOME_UNIDADE" value="Banco Nacional de Desenvolvimento Econômico e Social" />    
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_SECUNDARIA" value="TESTE_1_1" />    
    <const name="CONTEXTO_ORGAO_A_ID_ESTRUTURA_SECUNDARIA" value="32384" />    
    <const name="CONTEXTO_ORGAO_A_NOME_UNIDADE_SECUNDARIA" value="Conselho Fiscal" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="CF-BNDES / BNDES / ME" />
    <const name="CONTEXTO_ORGAO_A_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_A_USUARIO_SENHA" value="teste" />    
    <const name="CONTEXTO_ORGAO_A_TIPO_PROCESSO" value="Arrecadação: Cobrança" />
    <const name="CONTEXTO_ORGAO_A_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_A_TIPO_DOCUMENTO_NAO_MAPEADO" value="Voto" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO" value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO_NAO_MAPEADO" value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_A_CARGO_ASSINATURA" value="Assessor(a)" />       
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO_PADRAO" value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
    <const name="CONTEXTO_ORGAO_A_LOCALIZACAO_CERTIFICADO_DIGITAL" value="/../assets/config/certificado_org1.pem" />
    <const name="CONTEXTO_ORGAO_A_SENHA_CERTIFICADO_DIGITAL" value="" />
    <const name="CONTEXTO_ORGAO_A_DB_SEI_DSN" value="mysql:host=127.0.0.1;port=33061;dbname=sei;" />   
    <!-- <const name="CONTEXTO_ORGAO_A_DB_SEI_DSN" value="sqlsrv:server=localhost,14331 ; Database=sei" /> -->
    <!-- <const name="CONTEXTO_ORGAO_A_DB_SEI_DSN" value="oci:dbname=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=15211))(CONNECT_DATA=(SERVICE_NAME=XE)))" /> -->
    <const name="CONTEXTO_ORGAO_A_DB_SEI_USER" value="sei_user" />
    <const name="CONTEXTO_ORGAO_A_DB_SEI_PASSWORD" value="sei_user" />

    <!-- CONFIGURAÇÕES DE TESTE ÓRGÃO 2 -->
    <const name="CONTEXTO_ORGAO_B" value="CONTEXTO_ORGAO_B" />
    <const name="CONTEXTO_ORGAO_B_URL" value="http://org2-http/sei"/>
    <const name="CONTEXTO_ORGAO_B_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_B_NUMERO_SEI" value="159" />    
    <const name="CONTEXTO_ORGAO_B_ID_REP_ESTRUTURAS" value="5" />
    <const name="CONTEXTO_ORGAO_B_REP_ESTRUTURAS" value="RE CGPRO" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_B_ID_ESTRUTURA" value="102200" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_B_NOME_UNIDADE" value="CGPRO" />
    <const name="CONTEXTO_ORGAO_B_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_B_USUARIO_SENHA" value="teste" />        
    <const name="CONTEXTO_ORGAO_B_NOME_UNIDADE_SECUNDARIA" value="" />  
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_SECUNDARIA" value="" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_B_TIPO_PROCESSO" value="Arrecadação: Cobrança" />    
    <const name="CONTEXTO_ORGAO_B_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_B_TIPO_DOCUMENTO_NAO_MAPEADO" value="Nota" />           
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO" value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />    
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO_NAO_MAPEADO" value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_B_CARGO_ASSINATURA" value="Assessor(a)" />       
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO_PADRAO" value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
    <const name="CONTEXTO_ORGAO_B_LOCALIZACAO_CERTIFICADO_DIGITAL" value="/../assets/config/certificado_org2.pem" />
    <const name="CONTEXTO_ORGAO_B_SENHA_CERTIFICADO_DIGITAL" value="" />
    <const name="CONTEXTO_ORGAO_B_DB_SEI_DSN" value="mysql:host=127.0.0.1;port=33062;dbname=sei;" />
    <!-- <const name="CONTEXTO_ORGAO_B_DB_SEI_DSN" value="sqlsrv:server=localhost,14332; Database=sei" /> -->
    <!-- <const name="CONTEXTO_ORGAO_B_DB_SEI_DSN" value="oci:dbname=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=15212))(CONNECT_DATA=(SERVICE_NAME=XE)))" /> -->
    <const name="CONTEXTO_ORGAO_B_DB_SEI_USER" value="sei_user" />
    <const name="CONTEXTO_ORGAO_B_DB_SEI_PASSWORD" value="sei_user" />


    <!-- CONFIGURAÇÕES DE TESTE Órgão 3, caso de sem hierarquia pai -->
    <const name="CONTEXTO_ORGAO_C" value="CONTEXTO_ORGAO_C" />
    <const name="CONTEXTO_ORGAO_C_URL" value="http://xxxxx/sei"/>
    <const name="CONTEXTO_ORGAO_C_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_C_NUMERO_SEI" value="159" />    
    <const name="CONTEXTO_ORGAO_C_ID_REP_ESTRUTURAS" value="5" />
    <const name="CONTEXTO_ORGAO_C_REP_ESTRUTURAS" value="RE CGPRO" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_C_ID_ESTRUTURA" value="121390" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_C_NOME_UNIDADE" value="SEGES TESTE SEM PAI" />
    <const name="CONTEXTO_ORGAO_C_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_C_USUARIO_SENHA" value="teste" />        
    <const name="CONTEXTO_ORGAO_C_NOME_UNIDADE_SECUNDARIA" value="" />  
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_SECUNDARIA" value="" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_C_TIPO_PROCESSO" value="Arrecadação: Cobrança" />    
    <const name="CONTEXTO_ORGAO_C_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_C_TIPO_DOCUMENTO_NAO_MAPEADO" value="Nota" />           
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO" value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />    
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO_NAO_MAPEADO" value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_C_CARGO_ASSINATURA" value="Assessor(a)" />       
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO_PADRAO" value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
    <const name="CONTEXTO_ORGAO_C_LOCALIZACAO_CERTIFICADO_DIGITAL" value="/../assets/config/certificado_org3.pem" />
    <const name="CONTEXTO_ORGAO_C_SENHA_CERTIFICADO_DIGITAL" value="" />
    <const name="CONTEXTO_ORGAO_C_DB_SEI_DSN" value="mysql:host=127.0.0.1;port=33062;dbname=sei;" />
    <!-- <const name="CONTEXTO_ORGAO_C_DB_SEI_DSN" value="sqlsrv:server=localhost,14332; Database=sei" /> -->
    <!-- <const name="CONTEXTO_ORGAO_C_DB_SEI_DSN" value="oci:dbname=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=15212))(CONNECT_DATA=(SERVICE_NAME=XE)))" /> -->
    <const name="CONTEXTO_ORGAO_C_DB_SEI_USER" value="sei_user" />
    <const name="CONTEXTO_ORGAO_C_DB_SEI_PASSWORD" value="sei_user" />
  </php>

  <testsuites>
    <testsuite name="funcional">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
