{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387

    "version": "0.2.0",
    "configurations": [
        {
            "name": "SEI4",
            "type": "php",
            "request": "launch",
            "internalConsoleOptions":"neverOpen",
            "port": 9000,
            "stopOnEntry": false,
            "pathMappings": {
                "${workspaceFolder}":"${workspaceFolder}",
                "/opt/sei/scripts/mod-pen":"${workspaceRoot}/mod-sei-pen/src/scripts",
                "/opt/sei/web/modulos/pen":"${workspaceRoot}/mod-sei-pen/src",
                "/tests":"${workspaceRoot}/mod-sei-pen/tests/funcional",
                "/opt":"${workspaceRoot}/sei4/",
            }
        },
        {
            "name": "SEI3",
            "type": "php",
            "request": "launch",
            "internalConsoleOptions":"neverOpen",
            "port": 9000,
            "stopOnEntry": true,
            "pathMappings": {
                "${workspaceFolder}":"${workspaceFolder}",
                "/opt/sei/scripts/mod-pen":"${workspaceRoot}/mod-sei-pen/src/scripts",
                "/opt/sei/web/modulos/pen":"${workspaceRoot}/mod-sei-pen/src",
                "/opt":"${workspaceRoot}/sei/",
            }
        },
    ]
}