<?xml version="1.0" encoding="UTF-8"?>
 
<phpunit
  bootstrap="bootstrap.php"
  backupGlobals="true"
  colors="true"
  verbose="true"
  cacheResult="false"
  stopOnError="false"
  stopOnFailure="false"
>
  <php>
    <const name="PHPUNIT_HOST" value="selenium" />
    <const name="PHPUNIT_PORT" value="4444" />
    <const name="PHPUNIT_BROWSER" value="chrome" />
    <const name="PHPUNIT_TESTS_URL" value="http://localhost/sei" />
    <const name="PEN_ENDERECO_WEBSERVICE"
      value="https://homolog.api.processoeletronico.gov.br/interoperabilidade/rest/v3/" />
 
    <!-- Chaves de configurações gerais do teste do Barramento de Serviços do PEN -->
    <const name="PEN_WAIT_TIMEOUT" value="360000" />
    <const name="PEN_WAIT_TIMEOUT_ARQUIVOS_GRANDES" value="7200000" />
    <const name="PEN_WAIT_TIMEOUT_PROCESSAMENTO_EM_LOTE" value="10800000" />
    <const name="PEN_SCRIPT_MONITORAMENTO_ORG1" value=" " />
    <const name="PEN_SCRIPT_MONITORAMENTO_ORG2" value=" " />
 
    <!-- Chaves de configuração dos diferentes ambientes envolvidos no teste do Barramento de
    Serviços do PEN -->
    <!-- CONFIGURAÇÕES DE TESTE ÓRGÃO 1 -->
    <const name="CONTEXTO_ORGAO_A" value="CONTEXTO_ORGAO_A" />
    <const name="CONTEXTO_ORGAO_A_URL" value="http://org1-http:8000/sei" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_A_NUMERO_SEI" value="971" />
    <const name="CONTEXTO_ORGAO_A_ID_REP_ESTRUTURAS" value="5" />
    <const name="CONTEXTO_ORGAO_A_REP_ESTRUTURAS" value="RE CGPRO" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_A_ID_ESTRUTURA"
      value="152259" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_ESTRUTURA"
      value="ORG1" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_A_NOME_UNIDADE"
      value="Unidade de Teste Glaydson ORG1" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_SECUNDARIA" value="TESTE_1_1" />
    <const name="CONTEXTO_ORGAO_A_ID_ESTRUTURA_SECUNDARIA"
      value="153846" />
    <const name="CONTEXTO_ORGAO_A_NOME_UNIDADE_SECUNDARIA"
      value="Glaydson ORG1 Filha" />
    <const name="CONTEXTO_ORGAO_A_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_A_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_A_USUARIO_SENHA" value="teste" />
    <const name="CONTEXTO_ORGAO_A_TIPO_PROCESSO" value="Arrecadação: Cobrança" />
    <const name="CONTEXTO_ORGAO_A_TIPO_PROCESSO_SIGILOSO"
      value="Acesso à Informação: Demanda do e-SIC" />
    <const name="CONTEXTO_ORGAO_A_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_A_TIPO_PROCESSO_SIGILOSO"
      value="Acesso à Informação: Demanda do e-SIC" />
    <const name="CONTEXTO_ORGAO_A_TIPO_DOCUMENTO_NAO_MAPEADO" value="Voto" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO"
      value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO_NAO_MAPEADO"
      value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_A_CARGO_ASSINATURA" value="Assessor(a)" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO_PADRAO"
      value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_RESTRICAO_INATIVA"
      value="Situação Econômico-Financeira de Sujeito Passivo (Art. 198, caput, da Lei nº 5.172/1966 - CTN)" />
    <const name="CONTEXTO_ORGAO_A_HIPOTESE_SIGILOSO"
      value="Sigilo do Inquérito Policial (Art. 20 do Código de Processo Penal)" />
 
    <!-- CONFIGURAÇÕES DE TESTE ÓRGÃO 2 -->
    <const name="CONTEXTO_ORGAO_B" value="CONTEXTO_ORGAO_B" />
    <const name="CONTEXTO_ORGAO_B_URL" value="http://org2-http:8000/sei" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_B_NUMERO_SEI" value="179" />
    <const name="CONTEXTO_ORGAO_B_ID_REP_ESTRUTURAS" value="5" />
    <const name="CONTEXTO_ORGAO_B_REP_ESTRUTURAS" value="RE CGPRO" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_B_ID_ESTRUTURA"
      value="152260" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_ESTRUTURA"
      value="ORG2" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_B_NOME_UNIDADE"
      value="Unidade de Teste Glaydson ORG2" />
    <const name="CONTEXTO_ORGAO_B_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_B_USUARIO_SENHA" value="teste" />
    <const name="CONTEXTO_ORGAO_B_ID_ESTRUTURA_SECUNDARIA" value="XXXXXXXXXXXXXX" />
    <const name="CONTEXTO_ORGAO_B_NOME_UNIDADE_SECUNDARIA" value="XXXXXXXXXXXXXX" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_SECUNDARIA" value="" />
    <const name="CONTEXTO_ORGAO_B_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_B_TIPO_PROCESSO" value="Arrecadação: Cobrança" />
    <const name="CONTEXTO_ORGAO_B_TIPO_PROCESSO_SIGILOSO"
      value="Acesso à Informação: Demanda do e-SIC" />
    <const name="CONTEXTO_ORGAO_B_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_B_TIPO_DOCUMENTO_NAO_MAPEADO" value="Nota" />
    <const name="CONTEXTO_ORGAO_B_TIPO_PROCESSO_SIGILOSO"
      value="Acesso à Informação: Demanda do e-SIC" />
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO"
      value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO_NAO_MAPEADO"
      value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO_INATIVA"
      value="Situação Econômico-Financeira de Sujeito Passivo (Art. 198, caput, da Lei nº 5.172/1966 - CTN)" />
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_SIGILOSO"
      value="Sigilo do Inquérito Policial (Art. 20 do Código de Processo Penal)" />
    <const name="CONTEXTO_ORGAO_B_CARGO_ASSINATURA" value="Assessor(a)" />
    <const name="CONTEXTO_ORGAO_B_HIPOTESE_RESTRICAO_PADRAO"
      value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
 
 
    <!-- CONFIGURAÇÕES DE TESTE Órgão 3, caso de sem hierarquia pai -->
    <const name="CONTEXTO_ORGAO_C" value="CONTEXTO_ORGAO_C" />
    <const name="CONTEXTO_ORGAO_C_URL" value="http://xxxxx/sei" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_ORGAO" value="ABC" />
    <const name="CONTEXTO_ORGAO_C_NUMERO_SEI" value="159" />
    <const name="CONTEXTO_ORGAO_C_ID_REP_ESTRUTURAS" value="5" />
    <const name="CONTEXTO_ORGAO_C_REP_ESTRUTURAS" value="RE CGPRO" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE" value="TESTE" />
    <const name="CONTEXTO_ORGAO_C_ID_ESTRUTURA" value="152007" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_C_NOME_UNIDADE" value="SEGES TESTE SEM PAI" />
    <const name="CONTEXTO_ORGAO_C_USUARIO_LOGIN" value="teste" />
    <const name="CONTEXTO_ORGAO_C_USUARIO_SENHA" value="teste" />
    <const name="CONTEXTO_ORGAO_C_NOME_UNIDADE_SECUNDARIA" value="" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_SECUNDARIA" value="" />
    <const name="CONTEXTO_ORGAO_C_SIGLA_UNIDADE_SECUNDARIA_HIERARQUIA" value="" />
    <const name="CONTEXTO_ORGAO_C_TIPO_PROCESSO" value="Arrecadação: Cobrança" />
    <const name="CONTEXTO_ORGAO_C_TIPO_DOCUMENTO" value="Ofício" />
    <const name="CONTEXTO_ORGAO_C_TIPO_DOCUMENTO_NAO_MAPEADO" value="Nota" />
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO"
      value="Documento Preparatório (Art. 7º, § 3º, da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO_NAO_MAPEADO"
      value="Informação Pessoal (Art. 31 da Lei nº 12.527/2011)" />
    <const name="CONTEXTO_ORGAO_C_CARGO_ASSINATURA" value="Assessor(a)" />
    <const name="CONTEXTO_ORGAO_C_HIPOTESE_RESTRICAO_PADRAO"
      value="Controle Interno (Art. 26, § 3º, da Lei nº 10.180/2001)" />
  </php>
 
  <testsuites>
    <testsuite name="funcional">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="falsos_positivos">
      <directory>tests_funcional_falsos_positivos_temp</directory>
    </testsuite>
    <!-- novasuiteaqui -->
  </testsuites>
</phpunit>