<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true" verbose="true">  
  <php>
    <!-- Localização do diretório onde está contido os arquivos de configuração do SEI -->
    <const name="DIR_SEI_CONFIG" value="/opt/sei/config"/>
  </php>
  <coverage>
    <exclude>
      <directory suffix=".php">/opt/sei/web/modulos/pen/vendor</directory>
      <directory suffix=".php">/opt/sei/web/modulos/pen/config</directory>
    </exclude>
    <include>
      <directory suffix=".php">/opt/sei/web/modulos/pen</directory>
    </include>
  </coverage>
</phpunit>
